*{
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
}
p{
    padding: 0;
    margin: 0;
}
img{
    border-radius: 12px;
}
.main{
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 12px;
}
.mainFirst{
    box-shadow: -2px 1px 7px 2px rgba(0,0,0,0.13);    height: 100%;
    border-radius: 12px;
    padding: 20px;
    height: 190px;
}
.myImg{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    float: left;
}
.myImg img{
    width: 100%;
    border-radius: 12px;
    height: auto;
}
.mainInfo{
    display: block;
    width: 100%;
    height: 100px;
}
.myInfo{
    float: left;
}
a{
    display: block;
    text-decoration: none;
}
span{
    position: relative;
    top: 8px;
}
.name p, .myInfoText{
    padding-left: 30px;
}
.name p:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
}
.name p:nth-child(2){
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.myCom{
    float: right;
}
.myCom p, .myCom a{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
}
.myInfoText{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    float: left;
}
.knowledge{
    float: left;
    width: 30%;
    height: auto;
    margin-top: 20px;
    box-shadow: -2px 1px 7px 2px rgba(0,0,0,0.13);    height: 100%;
    padding: 20px;
}
.knowledge h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4F4F4F;
}
.know{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    padding-bottom: 5px;
}
.line{
    display: inline-block;
    width: 200px;
    height: 5px;
    background: #C4C4C4;
    padding: 0;
    margin: 0;
    position: relative;
    top: 8px;
    float: right;
    border-radius: 12px;
}
.colorLine{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 5px;
    background: rgba(47, 128, 237, 0.7);
    z-index: 1;
    padding: 0;
    margin: 0;
    top: -10px;
    border-radius: 12px;
}
.blog{
    float: right;
    width: 65%;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: -2px 1px 7px 2px rgba(0,0,0,0.13);    height: 100%;
    padding: 20px;
}
.blog p:nth-child(1){
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E0E0E0;
}
.blogText{
    float: left;
    width: 50%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
.blogText a{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
.blogPhoto{
    float: left;
    width: 50%;
}
.blogImg{
    width: 100%;
    height: auto;
}
.blog button{
  margin-left: 45% ;
}
.blogs span{
    position: relative;
    top: 2px;
    padding: 0;
    margin: 0;
}
.hobbies{
    float: left;
    width: 30%;
    box-shadow: -2px 1px 7px 2px rgba(0,0,0,0.13);    height: 100%;
    padding: 20px;
    margin-top: 20px;
}
.hobbies h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
}
.hobbies img{
    width: 100%;
    height: auto;
}
.hobbies p{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
.project{
    float: right;
    width: 65%;
    margin-top: 20px;
    box-shadow: -2px 1px 7px 2px rgba(0,0,0,0.13);    height: 100%;
    padding: 20px;
}
.project h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
}
.project p{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
.project div img{
    width: 50%;
    float: left;
}
.project div div{
    width: 50%;
    float: left;
    text-align: center;
}
.project button{
    margin-left: 21.7%;

}
.project a{
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
}
.project a:nth-child(2){
    background: #5C94E1;
    border-radius: 12px;
    color: white;
}.project a:nth-child(3){
    border: 1px solid #5C94E1;
    border-radius: 12px;
    color: #5C94E1;
}
.project button span{
    position: relative;
    top: -0px;
}

button {
    background: none;
    border: 1px solid #5C94E1;
    border-radius: 12px;
    color: #5C94E1;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 15cm) {
    .main{
        height: auto;
        width: 95%;
    }
    .mainFirst{
        height: auto;
    }
    .myImg{
        width: 100%;
        height: auto;
        display: block;
        float: none;
    }
    .myInfo{
        display: block;
        float: none;
    }
    .myCom{
        float: none;
        display: block;
    }
    .mainInfo{
        height: auto;
        display: block;
    }
    .name p, .myInfoText{
        padding-left: 0px;
    }
    .myInfoText{
        float: none;
    }
    .knowledge{
        float: none;
        display: block;
        width: 100%;
    }
    .blog{
        width: 100%;
        margin-left: 0px;
    }
    .hobbies{
        width: 100%;
    }
    .project{
        width: 100%;
    }
    .project div img{
        width: 100%;
    }
    .project button{
        display: block;
    }
    .project div div{
        width: 100%;
        text-align: center;
    }
    .project button{
        margin-left: auto;
        margin-right: auto;
    }
}